@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-bg-blue{
  background-color: #0057a4;
}

#startImportBtn:disabled{
  background: grey;
  color: white;
  cursor: not-allowed;
}

/* DOWNLOAD DIV */

.download-history{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30rem;
}

.histo-container{
  background-color: #0057a4;
  border: 1px solid var(--foreground);
}
.histo-list{
  display: flex;
  flex-direction: column;

  padding: 1rem;

  align-items: center;
  justify-content: center;

  height: 15rem;

  scroll-behavior: smooth;
  overflow-y: scroll;

  color: #0a0a0a;
}

.histo-list li{
  margin: 0.5rem;
}

.histo-btn{
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  border: none;
}

/* BTN STYLES */
.btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  width: 100%;
}

.btn-todo{
  background-color: royalblue;
  border: 1px solid white;
}

.btn-todo:hover{
  background-color: royalblue;
  border: 1px solid white;
  scale: 110%;
}

.btn-ok{
  background-color: forestgreen;
  border: 1px solid white;
}

.btn-disabled{
  background-color: lightgray;
  border: 1px solid white;
  cursor: not-allowed;
  opacity: 0.5;
}

/* ERROR CONTAINER */
.files-error-container{
  display: flex;
  flex-direction: column;

  width: 100%;
  max-height: 20rem;

  margin: 1rem 0;

  justify-content: center;

  overflow-y: scroll;
}

.files-error-list{
  display: flex;
  flex-direction: column;

  width: 100%;
  max-height: 20rem;

  align-items: center;

  overflow-y: scroll;
}