
node_modules/

.idea/

backend/__pycache__/

backend/bin/

backend/build/

backend/.DS_Store

backend/server.spec

.DS_Store

front/package-lock.json

front/dist/

backend/dist/

backend/snap-exporter-backend.spec
