version: "3.9"

services:
  web:
    container_name: snap-overlay-web
    build:
      context: ./front
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./front:/app
      - /app/node_modules
    environment:
      NODE_ENV: development
    command: npm run dev
